body{
    background-image: url(https://media.imotions.com/images/20190527115025/A-Beginner%E2%80%99s-Guide-to-Neuroscience-768x403.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: cover;
}
.container{
    display: flex;
    flex-direction: column;
    color:white;
    overflow: auto;
    margin-top: auto;
    background-color: rgb(1, 91, 131);
    padding: 2vw;
}
button{
    color: aliceblue;
}