<div class="container">
  <h1>Mecanismos de pago de la cuota social:</h1>
  <ul>
    <li>
      Transferencia o depósito en una cuenta BROU IMPORTANTE: Poner en el Asunto
      el Nombre y Apellido para poder identificar el deposito. De ser posible
      guardarse una copia de la transferencia o captura de pantalla.
    </li>
    <br>
    <li>
      Colectivo Abitab Tener en cuenta que que Abitab cobra 4.27% por cada
      depósito. IMPORTANTE: Identificar el depósito con el Nombre y Apellido.
    </li>
    <br>
    <p><span style="color: rgb(1, 91, 131);"><span style="text-decoration:underline;">Solicitar Nº de cuenta o colectivo a <a data-auto-recognition="true" href="mailto:secretaria.investigauy@gmail.com">secretaria.investigauy@gmail.com</a></span></span></p>
    <p>Si no está seguro que la transferencia o depósito quedó identificado correctamente, puede mandar una copia a <span style="text-decoration:underline;"><a href="mailto:secretaria.investigauy@gmail.com" target="_self">secretaria.investigauy@gmail.com</a></span></p>  
  </ul>
</div>
