<div class="container-flex">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mb-0">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-white">© 2022 Investiga UY</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-white" href="https://twitter.com/investigauy" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li class="ms-3"><a class="text-white" href="https://www.youtube.com/channel/UCzvmSgXExJ06tzsiLZH43tQ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
    </ul>
    <div class="cntct"><button type="button" class="btn btn-info"><a data-testid="linkElement" href="mailto:investigauy@gmail.com" target="_self" class="_1fbEI" aria-disabled="false"><span class="_1Qjd7">Contacto</span></a></button></div>
  </footer>
  </div>