<nav class="navbar sticky-top navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Investiga uy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/abtus">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/comisiones">Comisiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/documentos">Documentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/hityacc">Hitos y acciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/soc">Socios/as</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/notdepren">Notas de prensa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSegC1k33_ADTNXBxFwvuFyR6XHmb4mnWiaD_rykCB40bcjVGQ/viewform" target="_blank">Asociarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>