<div class="container y mandatory-scroll-snapping" dir="ltr">
    <div><h1>Quienes somos</h1>
        <p>Investiga uy es una asociación civil sin fines de lucro con personería jurídica en trámite ante el MEC.<br>
        <br><b>Integrantes de Investiga uy</b><br><br>
        Más de 900 investigadores/as participaron en la primera asamblea el 17 de marzo, 2021 y más de 600 participantes en la asamblea fundacional el 29 de julio, 2021. <br>
        Actualmente contamos con más de 900 integrantes pertenecientes a todas las instituciones públicas y privadas relevantes del país. <br>
        <br>Las/os integrantes son investigadores/as reconocidos por los sistemas nacionales de categorización de I+D
        (SNI, DT-UdelaR, PEDECIBA o Institutos y Universidades nacionales).</p>
    </div>
    <div><h1>Misión y afines</h1>
            <h2>NUESTRA MISIÓN</h2>
            <li>
            Ser la organización que representa a investigadores e investigadoras del Uruguay, de todas las áreas del conocimiento.</li>
            <br><p>¿Cuáles son nuestros fines?</p>
            <ul>
                <li>Promover la democratización y la creación de conocimiento en sus más diversas formas; así como su uso y aplicación por parte de la sociedad.</li>
                    <li>Contribuir al fortalecimiento y expansión de las políticas de fomento a la investigación en todas las ramas del conocimiento, promoviendo la participación de las/os investigadoras/es en los ámbitos de gobernanza de la investigación.</li>
            
                        <li>Promover la equidad del acceso a la formación y trabajo en investigación, apuntando a eliminar todo tipo de discriminación y marginación.</li>
                            <li>Colaborar con instituciones públicas, privadas y la sociedad civil en la implementación y el desarrollo de políticas que promuevan la investigación.</li>
                                <li>Velar por condiciones adecuadas de trabajo en investigación, y promover la apertura de mejores oportunidades laborales para jóvenes investigadoras e investigadores.</li>
            </ul>
        </div>
    <div><h1>Organigrama</h1>
        <h2></h2>
        <img src="https://static.wixstatic.com/media/1d38e2_a9c664ba07b04365af3125251ddeba5c~mv2.jpg/v1/crop/x_0,y_0,w_910,h_378,q_80,enc_auto/1d38e2_a9c664ba07b04365af3125251ddeba5c~mv2.jpg" alt="Organigrama Investiga uy">
    </div>
    <div><h1>Estatutos y reglamentos</h1>
    <h2>Estatutos</h2>
    <a href="https://www.investiga.uy/_files/ugd/1d38e2_e3dc5893eb4f4b9eb736f5eb259a19c8.pdf" target="_blank"><button class="btn btn-primary">Estatutos</button></a>
    <h2>Reglamentos</h2>
    <a href="https://www.investiga.uy/_files/ugd/1d38e2_485483ed32e1493da8fbe24681f256be.pdf" target="_blank"><button class="btn btn-primary"> Reglamentos de admisión</button></a>
  </div>