.container {
    display: flex;
    overflow: auto;
    flex: none;
    margin-top: auto;
    width: 100%;
    --bs-gutter-x: 0rem;
  }
  
  .container.x {
    width: 100%;
    height: 128px;
    flex-flow: row nowrap;
  }
  
  .container.y {
    width: 100%;
    height: 100vw;
    flex-flow: column nowrap;
  }

  .y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
  }
  
  .container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
  }
  
  .y.container > div {
    width: 100%;
    height: 100%;
  }
  /* appearance fixes */
  .y.container > div:first-child {
    line-height: 1.3;
    font-size: 3vw;
  }
  /* coloration */
  .container > div:nth-child(even) {
    background-color: #0071a5;
  }
  
  .container > div:nth-child(odd) {
    background-color: #87CCEA;
  }
  p{
    margin: 3vw;
    text-align: start;
    scroll-behavior: smooth;
    font-size: 2vw;
  }
  ul{
    margin: 5vw;
    text-align: start;
    font-size: 2vw;
  }
  h1{
    font-size: 7vw;
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  img{
    width:70vw;
    justify-content: center;
  }
  a{
    list-style: none;
    
  }