div{
  display: flex;
  justify-content: center;
}
.container {
    display: flex;
    overflow: auto;
    margin-top: auto;
    background-color: rgb(1, 91, 131);
  }
  p{
    margin: 3vw;
    font-size: 2vw;
    text-align: start;
    scroll-behavior: smooth;
  }
  h1{
    display: flex;
    font-size: 7vw;
    justify-content: center;
  }
  h2{
    display: flex;
    justify-content: center;
  }
  img{
    width:70vw;
    justify-content: center;
  }
  a{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #5ECEDA;
  }
  .nav{
    margin-top: 3vw;
  }
  .nav-link, nav-tabs, button{
    color: aliceblue;
  }
