<div class="container">
  <div>
    <h1>Hitos</h1>
    <br />
    <h2>17 DE MARZO 2021</h2>
    <p>
      Se realizó una asamblea de investigadores/as en la que se resolvió la
      creación de la asociación. Se conforma una Comisión Provisoria encargada
      de elaborar los Estatutos e iniciar los contactos con otros actores de la
      sociedad. <br /><br>
      <a
        href="https://www.investiga.uy/_files/ugd/1d38e2_76b1671de9ed4a7f8085781b180e263e.pdf"
        >Resoluciones Asamblea pública</a
      >
    </p>

    <br />
    <h2>29 DE JULIO 2021</h2>
    <p>
      Se realizó la Asamblea Fundacional en la que se aprueban los
      <a
        href="https://www.investiga.uy/_files/ugd/1d38e2_e3dc5893eb4f4b9eb736f5eb259a19c8.pdf"
        >Estatutos</a
      >
      y se crea formalmente Investiga uy. Se conforma la Comisión Directiva
      interina y la Comisión Electoral para preparar las elecciones contemplando
      la representatividad de áreas de conocimiento y género.
    </p>
    <br />
    <h2>17 DE SEPTIEMBRE 2021</h2>
    <p>Se realizan las primeras elecciones de Investiga uy.</p>
    <br />
    <h2>19 DE SEPTIEMBRE 2021</h2>
    <p>
      Inicia el funcionamiento de las Comisiones Directiva y Fiscal.<br /><br>
      <a
        href="https://www.investiga.uy/_files/ugd/1d38e2_611bacc67da245a78045a41643f86ad0.pdf"
        >Acta CD 9 - 19-9-2021</a
      ><br />
    </p>

    <h2>5 DE ABRIL 2022</h2>
    <p>
      Inicia el ciclo de conversatorios 2022, la primer temática abordada fue :
      "Gobernanza en Ciencia, Tecnología e Innovación".<br><br>
      <a href="https://www.investiga.uy/materiales">1er Conversatorio</a><br />
    </p>
    <h2>24 DE MAYO 2022</h2>
    <p>
      Segundo conversatorio del ciclo con la temática: "Presupuesto y
      financiación de la I+D".<br /><br>
      <a href="https://www.investiga.uy/materiales">2º Conversatorio</a><br />
    </p>
    <h2>28 DE JUNIO 2022</h2>
    <p>
      Tercer conversatorio del ciclo con la temática: "Masculinidades en la
      Academia".<br /><br>
      <a href="https://www.investiga.uy/materiales">3º Conversatorio</a><br />
    </p>
    <h2>7 DE JULIO 2022</h2>
    <p>Asamblea general ordinaria.</p>
  </div>
  <div>
    <img
      src="https://static.wixstatic.com/media/1d38e2_8883eeb0cc03469bab1547af6cb2b5da~mv2.jpg/v1/fill/w_486,h_1612,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_8883eeb0cc03469bab1547af6cb2b5da~mv2.jpg"
    />
  </div>
</div>
