<div class="container-flex">
    <div>
<h1>Comisiones</h1>
<h2>INTEGRANTES DE LA COMISIÓN DIRECTIVA (2021 – 2023)</h2>
    </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Titulares
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Presidente</th>
              <td colspan="2">Gonzalo Tancredi</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row">Vicepresidenta</th>
              <td colspan="2">Cecilia Scorza</td>
              <td>IIBCE</td>
            </tr>
            <tr>
              <th scope="row">Secretaria</th>
              <td colspan="2">Victoria Prieto</td>
              <td>IPMON</td>
            </tr>
            <tr>
              <th scope="row">Tesorera</th>
              <td colspan="2">Gabriela Mordecki</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row">Vocales</th>
              <td colspan="2">Federico Battistoni</td>
              <td>IIBCE</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Angela Cabezas</td>
              <td>UTEC</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Victoria Calzada</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Pablo Dans</td>
              <td>CENUR - UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Carlos Escande</td>
              <td>IPMON</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Camilo López Burián</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Pedro Russi</td>
              <td>CENUR - UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Pilar Uriarte</td>
              <td>UdelaR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Suplentes
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Cecilia Callejas</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Alejandra Carboni</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Bruno Manta</td>
              <td>IPMON - UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Juan Scuro</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Oscar Ventura</td>
              <td>UdelaR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        Comisión fiscal
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Lucía Giudice</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Laura Quintana</td>
              <td>UdelaR</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="2">Raúl Maneyro</td>
              <td>UdelaR</td>
            </tr>
          </tbody>
        </table>
        <p>
          La integración de la Comisión Directiva refleja la diversidad de áreas
          de investigación (Ciencias naturales y exactas - Ciencias sociales,
          humanidades y arte - Ciencias agrícolas, de la salud e ingeniería) y
          la paridad de género.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFourth">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFourth"
        aria-expanded="false"
        aria-controls="collapseFourth"
      >
        Comisiones de trabajo
      </button>
    </h2>
    <div
      id="collapseFourth"
      class="accordion-collapse collapse"
      aria-labelledby="headingFourth"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ul>
          <li>Políticas I+D - Coordinan: Federico Battistoni / Cecilia Callejas</li>
          <li>Equidad y Género - Coordina: Victoria Prieto</li>
          <li>Relaciones públicas y difusión - Coordina: Camilo López Burián</li>
          <li>Perfil de Investigadoras/es - Coordina: Ángela Cabezas</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
