        <!--notDiv-->
        <div class="tweet-wrap">
          <div class="tweet-header">
            <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
            <div class="tweet-header-info">
              Investigauy <span>23 ago</span><span>. 1 min
        </span>
              <h4>La ciencia no está bien, hablemos: el jueves se lanzó una instancia de diálogo en el Parlamento</h4>
      
              <p><b>La Mesa de Diálogo Nacional por la Ciencia, Tecnología e Innovación nace con ambiciosos objetivos para el corto y el largo plazo.</b><br>

                El 2022 no viene siendo un buen año para la comunidad científica local. El fin de las restricciones impuestas por la pandemia no trajo aparejado la tantas veces invocada valorización de la ciencia local que tanto había aportado. <br> <a href="https://ladiaria.com.uy/ciencia/articulo/2022/8/la-ciencia-no-esta-bien-hablemos-el-jueves-se-lanzo-una-instancia-de-dialogo-en-el-parlamento/?utm_source=newsletter&utm_medium=email&utm_campaign=manana" target="_blank">Link a la nota completa</a>
              </p>
              
            </div>
          </div>
          <div class="tweet-img-wrap">
            <img src="https://static.wixstatic.com/media/1d38e2_1872586c9e8748b5bfc45cd361639155~mv2.png/v1/fill/w_740,h_369,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_1872586c9e8748b5bfc45cd361639155~mv2.png" alt="" class="tweet-img">
          </div>
          <div class="tweet-info-counts">
            
            <div class="comments">
      
            <div class="likes">
              <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
              <div class="likes-count">
                
              </div>
            </div>
            
            <div class="message">
              <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </div>
          </div>
        </div>
        </div>
        <!--notDiv-->
        <div class="tweet-wrap">
          <div class="tweet-header">
            <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
            <div class="tweet-header-info">
              Investigauy <span>17 ago</span><span>. 1 min
        </span>
              <h4>Hay una contradicción de todo lo que pasó en la pandemia con el cero presupuesto, señalan colectivos</h4>
      
              <p>En Nada Que Perder de M24 se desarrolló una mesa de diálogo donde se abordó el tema ciencia, tecnología e innovación, con los investigadores Federico Battistoni y Luisina Castelli, quienes mañana jueves a las 18:00 horas en la sala Acuña de Figueroa del Parlamento participarán en el lanzamiento de la convocatoria a la mesa de diálogo nacional de Ciencia, Tecnología e Innovación.


                La iniciativa surgió del PIT-CNT e InvestigaUy, quienes convocaron a diversos actores del ámbito, como a la Asociación Uruguaya de Posgraduandas y Posgraduandos (AUPP), Adur (Asociación de Docentes Universitarios del Uruguay), ATEC (Trabajadores del Ministerio de Educación y Cultura con base en el Instituto de Investigaciones Biológicas Clemente Estable). <br> <a href="https://www.m24.com.uy/hay-una-contradiccion-de-todo-lo-que-paso-en-la-pandemia-con-el-cero-presupuesto-senalan-colectivos-de-investigadores-y-cientificos" target="_blank">Link a la nota completa</a>
              </p>
              
            </div>
          </div>
          <div class="tweet-img-wrap">
            <img src="https://static.wixstatic.com/media/1d38e2_bc5244f5ffc34defb3784c56d54284a2~mv2.jpg/v1/fill/w_740,h_292,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1d38e2_bc5244f5ffc34defb3784c56d54284a2~mv2.jpg" alt="" class="tweet-img">
          </div>
          <div class="tweet-info-counts">
            
            <div class="comments">
      
            <div class="likes">
              <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
              <div class="likes-count">
                
              </div>
            </div>
            
            <div class="message">
              <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </div>
          </div>
        </div>
        </div>
        <!--notDiv-->
        <div class="tweet-wrap">
          <div class="tweet-header">
            <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
            <div class="tweet-header-info">
              Investigauy <span>15 jul</span><span>. 1 min
        </span>
              <h4>Rendición de cuentas: Comunidad científica reclama por insuficiencia en los recursos</h4>
      
              <p>Participación en el programa Buen Día, Canal 4 <br> <a href="https://www.canal4.com.uy/programas/buen-dia/videos/rendicion-de-cuentas-comunidad-cientifica-reclama-por-insuficiencia-en-los-recursos" target="_blank">Link al programa</a>
              </p>
              
            </div>
          </div>
          <div class="tweet-img-wrap">
            <img src="https://static.wixstatic.com/media/1d38e2_6cfa2728d2a5416481c5f490b1ea6b6b~mv2.png/v1/fill/w_740,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_6cfa2728d2a5416481c5f490b1ea6b6b~mv2.png" alt="" class="tweet-img">
          <span>Programa Buen Día, Canal 4</span>
          </div>
          <div class="tweet-info-counts">
            
            <div class="comments">
      
            <div class="likes">
              <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
              <div class="likes-count">
                
              </div>
            </div>
            
            <div class="message">
              <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </div>
          </div>
        </div>
        </div>
        <!--notDiv-->
        <div class="tweet-wrap">
          <div class="tweet-header">
            <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
            <div class="tweet-header-info">
              Investigauy <span>15 jul</span><span>. 1 min
        </span>
              <h4>Rendición de cuentas: migajas para la ciencia</h4>
      
              <p>Gregory Randall y Gabriela Mordecki manifestaron su preocupación por el magro presupuesto destinado a la ciencia en la actual Rendición de Cuentas. <br> <a href="https://www.carasycaretas.com.uy/politica/rendicion-cuentas-migajas-la-ciencia-n53996" target="_blank">Link a la nota completa</a>
              </p>
              
            </div>
          </div>
          <div class="tweet-img-wrap">
            <img src="https://static.wixstatic.com/media/1d38e2_2ab670a28f4449f1a2588afad20c79ec~mv2.png/v1/fill/w_740,h_491,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/1d38e2_2ab670a28f4449f1a2588afad20c79ec~mv2.png" alt="" class="tweet-img">
            <span>Foto:Javier Calvelo / adhoc FOTOS</span>
          </div>
          <div class="tweet-info-counts">
            
            <div class="comments">
      
            <div class="likes">
              <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
              <div class="likes-count">
                
              </div>
            </div>
            
            <div class="message">
              <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </div>
          </div>
        </div>
        </div>
        <!--notDiv-->
        <div class="tweet-wrap">
          <div class="tweet-header">
            <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
            <div class="tweet-header-info">
              Investigauy <span>7 jul</span><span>. 1 min
        </span>
              <h4>Entrevista en el Programa Arriba Gente 7/7/2022</h4>
      
              <p>Hablamos con el Director la Asociación Civil “Investiga Uy”, Gonzalo Tancredi, a propósito del cuestionamiento de la comunidad científica sobre el presupuesto manejado por el gobierno para la ciencia en la rendición de cuentas.  <br> <a href="https://www.youtube.com/watch?v=x78I5arJD3s&ab_channel=ArribaGente" target="_blank">Link a la entrevista</a>
              </p>
              
            </div>
          </div>
          <div class="tweet-img-wrap">
            <img src="https://static.wixstatic.com/media/1d38e2_ef35f0c8df194ab888ee77f4fcafc3a9~mv2.png/v1/fill/w_740,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_ef35f0c8df194ab888ee77f4fcafc3a9~mv2.png" alt="" class="tweet-img">
          </div>
          <div class="tweet-info-counts">
            
            <div class="comments">
      
            <div class="likes">
              <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
              <div class="likes-count">
                
              </div>
            </div>
            
            <div class="message">
              <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </div>
          </div>
        </div>
        </div>
      <!--notDiv-->
      <div class="tweet-wrap">
        <div class="tweet-header">
          <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
          <div class="tweet-header-info">
            Investigauy <span>6 jul</span><span>. 1 min
      </span>
            <h4>Programa La Letra Chica - No tiene ciencia</h4>
    
            <p>Participación en el programa de TV Ciudad del 5/7/22 <br> <a href="https://www.youtube.com/watch?v=-ZgTvsUIvBk&ab_channel=TVCiudad" target="_blank">Link al programa</a>
            </p>
            
          </div>
        </div>
        <div class="tweet-img-wrap">
          <img src="https://static.wixstatic.com/media/1d38e2_7fe8e459ffd14db69ddfad2238c9d157~mv2.png/v1/fill/w_740,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_7fe8e459ffd14db69ddfad2238c9d157~mv2.png" alt="" class="tweet-img">
        </div>
        <div class="tweet-info-counts">
          
          <div class="comments">
    
          <div class="likes">
            <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            <div class="likes-count">
              
            </div>
          </div>
          
          <div class="message">
            <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
          </div>
        </div>
      </div>
      </div>
    <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>6 jul</span><span>. 1 min
  </span>
        <h4>Ciencia, tecnología e innovación en Rendición de Cuentas</h4>

        <p><b>El refuerzo es “apenas 0,02% del PBI; hoy estamos en 0,4%; llegar al 1% acordado será un camino muy largo”, dijo el presidente de Investiga Uy.</b> <br>El monto de los recursos adicionales que el Poder Ejecutivo iba a destinar en la Rendición de Cuentas a la Ciencia, la Tecnología y la Innovación había generado expectativa en las semanas previas al envío del proyecto al parlamento.

          Por ejemplo, el presidente de la Academia Nacional de Ciencias, Rafael Radi, había señalado que llegada la mitad del período de gobierno y luego del importancia que tuvo la ciencia durante la pandemia, era hora de que el gobierno “diera una señal” de apoyo.
          
          Finalmente, el proyecto agrega 52 millones de dólares para el rubro entre los años 2023 y 2024.
          
          ¿Cómo toman esta asignación desde la comunidad científica?
          
          Hoy conversamos En Perspectiva con el presidente de la asociación civil Investiga uy, el astrónomo Gonzalo Tancredi.
          
          <br><a href="https://enperspectiva.uy/home/ciencia-tecnologia-e-innovacion-en-rendicion-de-cuentas-el-refuerzo-es-apenas-002-del-pbi-hoy-estamos-en-04-llegar-al-1-acordado-sera-un-camino-muy-largo-dijo-el-presidente-de/" target="_blank">Link a la nota completa </a></p>
        
      </div>
    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_7e91931d168a4e809a956fd9ac9c596c~mv2.png/v1/fill/w_740,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_7e91931d168a4e809a956fd9ac9c596c~mv2.png" alt="Gonzalo Tancredi en entrevista realizada por En Perspectiva" class="tweet-img">
    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>
    <!--notDiv-->
    <div class="tweet-wrap">
      <div class="tweet-header">
        <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
        <div class="tweet-header-info">
          Investigauy <span>4 jul</span><span>. 1 min
    </span>
          <h4>Investigadores advierten por “aumento insuficiente” para ciencia en Rendición de Cuentas</h4>
  
          <p>Gonzalo Tancredi, presidente de Investiga Uy, dijo a Montevideo Portal que es “muy negativa la señal que se ha dado” y se está “lejos” del 1% del PBI para ciencia y tecnología, que fue prometido por candidatos en 2014. <br><a href="https://www.montevideo.com.uy/Noticias/Investigadores-advierten-por-aumento-insuficiente-para-ciencia-en-Rendicion-de-Cuentas-uc826489" target="_blank">Link a la nota completa</a></p>
          
        </div>
        
      </div>
      <div class="tweet-img-wrap">
        <img src="https://static.wixstatic.com/media/1d38e2_769de3c8a6f34364ad355c9e41721532~mv2.png/v1/fill/w_360,h_240,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_769de3c8a6f34364ad355c9e41721532~mv2.png" alt="" class="tweet-img">
      </div>
      <div class="tweet-info-counts">
        
        <div class="comments">
  
        <div class="likes">
          <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
          <div class="likes-count">
            
          </div>
        </div>
        
        <div class="message">
          <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
        </div>
      </div>
    </div>
    </div>
  <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>4 jul</span><span>. 1 min
  </span>
        <h4>Investigadores disconformes con presupuesto para ciencia</h4>

        <p><b>El presidente de la Asociación de Investigadores, Gonzalo Tancredi, desmenuzó el anuncio de 26 millones de dólares para el sector en la Rendición de Cuentas.</b> <br> Investigadores manifestaron "preocupación" pese a anuncio de 26 millones de dólares en Rendición de Cuentas para al sector. <br><a href="https://www.telenoche.com.uy/nacionales/investigadores-disconformes-presupuesto-ciencia-n5331764" target="_blank">Link a la nota completa</a></p>
        
      </div>
      
    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_0dc3d7ade7a54911ad811ecf8a3bb3b1~mv2.png/v1/fill/w_740,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_0dc3d7ade7a54911ad811ecf8a3bb3b1~mv2.png" alt="" class="tweet-img">
    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>
  <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>20 jun</span><span>. 1 min
  </span>
        <h4>Día Internacional de la Mujer 2022</h4>

        <p>Publicado el 10 de marzo

          Escribe Claudia Ortega , Pedro Russi , Victoria Prieto en Posturas - La Diaria
          
          
          Investiga uy (asociación de investigadoras e investigadores de Uruguay) es una asociación civil que nuclea y representa a más de 900 personas que hacen investigación en el país. En ese rol, tiene como uno de sus ejes centrales de preocupación y trabajo el avance de la igualdad y la promoción de políticas de equidad en la actividad científica, tanto en su sentido restricto como en lo más amplio de áreas del conocimiento, género, instituciones y lugar geográfico.
          
          <br>
          <a href="https://ladiaria.com.uy/opinion/articulo/2022/3/dia-internacional-de-la-mujer-2022/" target="_blank">Link a la nota completa </a></p>
        
      </div>
      
    </div>

    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
    </div>
  </div>
  <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>6 jun</span><span>. 1 min
  </span>
        <h4>Investiga uy pide más presupuesto para la investigación en ciencia y tecnología.</h4>

        <p>Desde el año pasado, Investiga UY, una asociación civil que reúne a investigadores de varias áreas del conocimiento, viene realizando actividades para colocar en agenda la importancia de dotar de más recursos a la ciencia y la innovación, entre otros temas.

          ¿Cómo trabaja esta organización? ¿Qué expectativas tiene de conseguir más presupuesto? Vamos a conversarlo con la vicepresidenta de Investiga UY, la licenciada en Biología Cecilia Scorza , y su tesorera gabriela Mordecki.<br>
          
          <a href="https://enperspectiva.uy/home/investigauy-pide-mas-presupuesto-para-la-investigacion-en-ciencia-y-tecnologia-porque-es-uno-de-los-pilares-fundamentales-del-desarrollo-de-la-sociedad/" target="_blank">Link  a la nota completa</a> </p>
        
      </div>
      
    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_ae5281a9fbf1458c97467291f2f43e30~mv2.png/v1/fill/w_740,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_ae5281a9fbf1458c97467291f2f43e30~mv2.png" alt="" class="tweet-img">
      <span>Entrevista central en el programa En Perspectiva</span>
    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>
  <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>29 may</span><span>. 1 min
  </span>
        <h4>900 investigadoras e investigadores se asociaron para reivindicar el rol de la ciencia en Uruguay</h4>

        <p>El recorte en el Portal Timbó de la ANII obliga a científicos uruguayos a consultar literatura científica en páginas piratas. Entrevista con el Lic. Gonzalo Tancredi y la Lic. Victoria Prieto, presidente y secretaria de Investiga uy.<br>
        <a href="https://espectador.com/mastemprano/entrevista/900-investigadoras-e-investigadores-se-asociaron-para-reivindicar-el-rol-de-la-ciencia-en-uruguay" target="_blank">Link a la nota completa</a></p>
      </div>
      
    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_3df90d05c9a742b79f5c77626559a075~mv2.jpg/v1/fill/w_740,h_416,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1d38e2_3df90d05c9a742b79f5c77626559a075~mv2.jpg" alt="" class="tweet-img">
      <span>Foto: Lucía Ortiz - Magnolio</span>
    </div>
    
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>
    <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>16 may</span><span>. 1 min
  </span>
        <h4>Deconstruir la ciencia en el Uruguay pospandemia</h4>

        <p>“Si algo nos han enseñado estos dos años de pandemia…” es una anáfora descolorida, un mero cliché que podemos escuchar a diario en las conversaciones informales. Probablemente la pandemia de covid-19 nos ha enseñado muchas cosas, pero ¿hemos sido capaces de aprenderlas? Construir un sistema de ciencia sólido lleva décadas. Uruguay, pese a lucharlo a puro pulmón, ha logrado construirlo.

          Foto: Federico Gutiérrez</p>
          <p>Escribe <a href="https://ladiaria.com.uy/columnista/daniel-prieto/">Daniel Prieto</a> en <a href="https://ladiaria.com.uy/seccion/comunidad-cientifica/">Comunidad científica</a>  -  La Diaria


            <a href="https://ladiaria.com.uy/ciencia/articulo/2022/5/deconstruir-la-ciencia-en-el-uruguay-pospandemia/?utm_medium=Social&utm_source=Twitter#Echobox=1652162889" target="_blank">Link a la nota completa</a> </p>
      </div>

    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_039da47694e244e19620edf56a37cd7e~mv2.jpg/v1/fill/w_740,h_450,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1d38e2_039da47694e244e19620edf56a37cd7e~mv2.jpg" alt="" class="tweet-img">
    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>
    <!--notDiv-->

  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>16 may</span><span>. 1 min
  </span>
        <h4>Investiga Uy espera que haya cambios en la tendencia de caída del presupuesto en I + D</h4>

        <p>
          La asociación de investigadoras/es hace énfasis en la “impostergable mejora en la inversión” para “comenzar un proceso de franco crecimiento”.
          
          </p>
        
      </div>

    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_729d8443cc2344febfc5807bb4bf2071~mv2.jpg/v1/fill/w_740,h_555,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1d38e2_729d8443cc2344febfc5807bb4bf2071~mv2.jpg" alt="" class="tweet-img">
    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>
    <!--notDiv-->
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1395148309182943232/7n2cNjXQ_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        Investigauy <span>29 abr</span><span>. 1 min
  </span>
        <h4>Investiga uy presente en el programa "Sobre ciencia" de TV Ciudad</h4>

        <p>Programa de periodismo científico con la conducción de Gustavo Villa, Alexandra Perrone y Daniela Hirschfeld. Los hechos más destacados de la ciencia, la innovación, la investigación científica y tecnológica en Uruguay y el mundo

          Todos los miércoles 22h en TV Ciudad.</p>
          <a href="https://www.youtube.com/watch?v=3FIY7YollPI&t=38s" target="_blank">Programa completo</a>
        
      </div>
      
    </div>
    <div class="tweet-img-wrap">
      <img src="https://static.wixstatic.com/media/1d38e2_1d6856b5a0714dfcba38d378162ead10~mv2.png/v1/fill/w_454,h_341,fp_0.50_0.50,q_90,enc_auto/1d38e2_1d6856b5a0714dfcba38d378162ead10~mv2.webp" alt="" class="tweet-img">
    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">

      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>
  </div>