<div class="container">
<h1>Investiga uy</h1>
<h2>asociación de investigadoras <br>e investigadores del Uruguay</h2> <br>
<div><p>Le damos la bienvenida al sitio web de Investiga uy, una asociación civil sin fines de lucro integrada por investigadoras/es provenientes de instituciones públicas y privadas.En este sitio encontrará información sobre nuestra conformación, informes de nuestras actividades y noticias.</p>
<img src="https://static.wixstatic.com/media/1d38e2_268e68425ea64b17aed654b16a380e48~mv2.jpg/v1/crop/x_0,y_117,w_1600,h_967/fill/w_517,h_306,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/PHOTO-2022-04-05-16-38-25(1).jpg">
</div>
</div>
