<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#DecPub" class="nav-link active" aria-current="page">Declaraciones públicas</a>
  </li>
  <li class="nav-item">
    <a href="#MyA" class="nav-link">Misión y afines</a>
  </li>
  <li class="nav-item">
    <a href="#Org" class="nav-link">Organigrama</a>
  </li>
  <li class="nav-item">
    <a href="#EyR" class="nav-link">Estatuto y reglamentos</a>
  </li>
</ul>  
<div class="container y mandatory-scroll-snapping" dir="ltr">    
  <div><section id="DecPub" class="main-section">
      <h1>Declaraciones públicas</h1>
        <p>Comunicado 11/02/2022<br>
        <br><b>Día internacional de la mujer y la niña en la ciencia.</b><br><br>
        <a href="https://www.investiga.uy/_files/ugd/1d38e2_c271543dc70349118f21c79f844752c5.pdf" alt="Comunicado 11/02/2022"><button class="btn btn-primary">Link</button></a></p>
        <p>Comunicado 05/07/2022<br>
            <br><b>Declaración de Investiga uy sobre la situación en I+D y la Rendición de Cuentas 2022</b><br><br>
            <a href="https://www.investiga.uy/_files/ugd/1d38e2_61100bb715ad4e5ba88548d76c130b33.pdf" alt="Comunicado 05/07/2022"><button class="btn btn-primary">Link</button></a></p>
            <p>Comunicado 27/07/2022<br>
                <br><b>Declaración de Investiga uy en respaldo a los profesores Omar Defeo y Daniel Panario</b><br><br>
                <a href="https://www.investiga.uy/_files/ugd/1d38e2_222c34318f7c40c18f52278f5e83dfae.pdf" alt="Comunicado 11/02/2022"><button class="btn btn-primary">Link</button></a></p><br><br>
            </section>
              </div>
    <div>
      <section id="MyA" class="main-section">
        <h1>Misión y afines</h1>
            <h2>NUESTRA MISIÓN</h2>
            Ser la organización que representa a investigadores e investigadoras del Uruguay, de todas las áreas del conocimiento.
            ¿Cuáles son nuestros fines?
            <ul>
                <li>Promover la democratización y la creación de conocimiento en sus más diversas formas; así como su uso y aplicación por parte de la sociedad.</li>
                    <li>Contribuir al fortalecimiento y expansión de las políticas de fomento a la investigación en todas las ramas del conocimiento, promoviendo la participación de las/os investigadoras/es en los ámbitos de gobernanza de la investigación.</li>
            
                        <li>Promover la equidad del acceso a la formación y trabajo en investigación, apuntando a eliminar todo tipo de discriminación y marginación.</li>
                            <li>Colaborar con instituciones públicas, privadas y la sociedad civil en la implementación y el desarrollo de políticas que promuevan la investigación.</li>
                                <li>Velar por condiciones adecuadas de trabajo en investigación, y promover la apertura de mejores oportunidades laborales para jóvenes investigadoras e investigadores.</li>
            </ul>
          </section>
        </div>
    <div>
      <section id="Org" class="main-section">
        <h1>Organigrama</h1>
        <img src="https://static.wixstatic.com/media/1d38e2_a9c664ba07b04365af3125251ddeba5c~mv2.jpg/v1/crop/x_0,y_0,w_910,h_378,q_80,enc_auto/1d38e2_a9c664ba07b04365af3125251ddeba5c~mv2.jpg" alt="Organigrama Investiga uy">
      </section>
      </div>
    <div>
      <section id="EyR" class="main-section">
        <h1>Estatutos y reglamentos</h1>
    <h2>Estatutos</h2>
    <a href="https://www.investiga.uy/_files/ugd/1d38e2_e3dc5893eb4f4b9eb736f5eb259a19c8.pdf" target="_blank"><button class="btn btn-primary">Estatutos</button></a>
    <h2>Reglamentos</h2>
    <a href="https://www.investiga.uy/_files/ugd/1d38e2_485483ed32e1493da8fbe24681f256be.pdf" target="_blank"><button class="btn btn-primary"> Reglamentos de admisión</button></a>
        </section>
  </div>