div{
  padding: 2vw;
}
.artpre{
  display: flex;
  flex-direction: row;
}
.art, .pres{
  flex-direction: column;
  margin: 2vw;
  width: 50%;
}
.linki{
  justify-content: flex-start;
}
.nav-link{
  color: white;
}
.container {
    display: flex;
    overflow: auto;
    background-color: rgb(1, 91, 131);
  }
  p{
    justify-content: center;
    margin: 3vw;
    font-size: 2vw;
    text-align: start;
    scroll-behavior: smooth;
    padding: 2vw;
    border-radius: 10px;
  }
  button{
    color: aliceblue;
  }
  h1{
    display: flex;
    font-size: 7vw;
    justify-content: center;
  }
  h2{
    display: flex;
    justify-content: center;
  }
  img{
    width:70vw;
    justify-content: center;
  }
  a{
    list-style: none;
    display: flex;
    justify-content: center;
    color: aliceblue;
  }
  .nav{
    margin-top: 3vw;
  }

  p{
    background-color: #00000080;
  }
  .tallyconv{
    padding: 2vw;
  }
  .inf{
    display: flex; 
    justify-content: space-between;
  }